<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="heyheyoheyhey.com.ifoundclassmate3" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Message"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".DayActivity"
            android:label="@string/title_activity_day" >
        </activity>
        <activity
            android:name=".NewGroupActivity"
            android:label="@string/title_activity_new_group" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >

        </activity>

        <activity
            android:name=".registerActivity"
            android:label="register account">
        </activity>

        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course" >
        </activity>
        <activity
            android:name=".CourseViewActivity"
            android:label="@string/title_activity_course_view" >
        </activity>
        <activity
            android:name=".LoginSettingsActivity"
            android:label="@string/title_activity_login_settings" >
        </activity>
        <activity
            android:name=".addFriendsActivity"
            android:label="@string/title_activity_add_friends" >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_add_friend" >
        </activity>

        <activity
            android:name=".GroupViewActivity"
            android:label="@string/title_activity_group_view" >
        </activity>
        <activity
            android:name=".GroupListActivity"
            android:label="@string/title_group_list" >
        </activity>
        <activity
            android:name=".GroupDetailActivity"
            android:label="@string/title_group_detail"
            android:parentActivityName=".GroupListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="heyheyoheyhey.com.ifoundclassmate3.GroupListActivity" />
        </activity>
        <activity
            android:name=".CreateMeetingActivity"
            android:label="@string/title_activity_create_meeting" >
        </activity>
    </application>

</manifest>
